PORT=4000
WEB_ORIGIN=http://localhost:3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=clingo
POSTGRES_PASSWORD=clingo
POSTGRES_DB=clingo
REDIS_HOST=localhost
REDIS_PORT=6379
TYPEORM_SYNC=false
TYPEORM_LOGGING=false
